/* src/index.css */
body {
    display: flex;
    justify-content: center;
    background-color: #121212; /* Match dark theme */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .addTaskForm {
    width: 100%;
  }
  
  .task {
    width: 100%;
  }
  
  .taskButtons {
    display: flex;
    gap: 5px;
  }
  
  .dialog {
    width: 100%;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .done {
    text-decoration: line-through;
    color: gray;
  }
  